<div [class]="'phase' + ts.phase">
    <div class="timerLeft">
        {{ts.timeLeft / 1000 | number: '1.1-1'}}
    </div>
    <div class="descricao">
        Exercício {{ts.currentEx + 1}}/{{ts.exercises.length}}:{{ts.exercises[ts.currentEx].name}}
    </div>
    <div class="descricao">
        Repetição {{ts.currentRep + 1}}/{{ts.exercises.length}}:{{ts.exercises[ts.currentEx].repetitions}}
    </div>
    <div class="descricao">
        {{formatePhase(ts.phase)}}
    </div>

    <div class="tools">
        <button type="button" class="btn btn-primary" (click)="start()" title="Inicia o cronômetro">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>  
        </button>
        <button type="button" class="btn btn-primary" (click)="pause()" title="Pausa o cronômetro">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> 
        </button>
        <button type="button" class="btn btn-primary" (click)="restart()" title="Reinicia o cronômetro">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 
        </button>
        <button type="button" class="btn btn-primary" (click)="next()" title="Próximo exercício">
            <span class="glyphicon glyphicon-forward" aria-hidden="true"></span> 
        </button>
    </div>
</div>