:host {
    display: block;
    text-align: center;
    margin-left: 4px;
}


.timerLeft {
    font-size: 3rem;
}
div~div {
    margin-top: 4px;
}
button~button {
    margin-left: 4px;
}
.phase0 {
    color: blueviolet;
}
.phase1 {
    color: green;
}
.phase2 {
    color: yellowgreen;
}

.descricao {
    font-size: 2.2rem; 
}