<div>
  <div class="right">
    <button type="button" class="btn btn-primary" *ngIf="!config" (click)="config = true" title="Configuração de exercícios">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-secondary" *ngIf="config" (click)="config = false" title="Voltar para o cronômetro">
      <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>      
    </button>
  </div>
  
  <app-config *ngIf="config" >Configurações</app-config>
  <app-timer *ngIf="!config" >Cronômetro</app-timer>
</div>